mixin Footer 
  +PreFooter
  +Section.py-0.bg-black
    .row.justify-content-md-between.justify-content-evenly.py-4
      .col-12.col-sm-8.col-md-6.col-lg-auto.text-center.text-md-start 
        p.fs--1.my-2.fw-light.text-200 All rights Reserved &copy; Your Company, 2021
      .col-12.col-sm-8.col-md-6
        p.fs--1.fw-light.my-2.text-center.text-md-end.text-200  Made with&nbsp;
          svg.bi.bi-suit-heart-fill(xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='#F95C19' viewBox='0 0 16 16')
            path(d='M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z')

          |&nbsp;by&nbsp;
          a(href='https://themewagon.com/' target='_blank').fw-bold.text-primary ThemeWagon

mixin PreFooter
  - 
    var infos = [
      {
        text: '2109 WS 09 Oxford Rd #127 ParkVilla Hills, MI 48334',
        icon: 'fas fa-map-marker-alt'
      },
      {
        text: '+88 019 76456893',
        icon: 'fas fa-phone'
      },
      {
        text: 'scrumbledegg@gmail.com',
        icon: 'fas fa-envelope'
      }
    ]
  
  - 
    var socials = [
      {
        text: 'Facebook',
        icon: 'fab fa-facebook-f',
        link: 'https://www.facebook.com/'
      },
      {
        text: 'Flickr',
        icon: 'fab fa-flickr',
        link: 'https://www.flickr.com/photos/'
      },
      {
        text: 'Twitter',
        icon: 'fab fa-twitter',
        link: 'https://twitter.com/'
      },
      {
        text: 'Instagram',
        icon: 'fab fa-instagram',
        link: 'https://www.instagram.com/'
      },
      {
        text: 'Youtube',
        icon: 'fab fa-youtube',
        link: 'https://www.youtube.com/'
      }
    ]
  +Section.bg-bg-black
    .row.g-6.g-md-0
      .col-md-6 
        .mb-4.d-inline-block
          a.navbar-brand.pt-0.text-white.d-flex.align-items-center(href='/')
            img(src=`${CWD}assets/img/icons/dark-logo-icon.png` alt="logo icon" width="25px" height="25px" ).img-fluid
            span.fs-3.fw-bolder.ms-2 Foto
            span.fw-thin.fs-3 gency
        each info in infos
          .col-7.text-300.py-2
            i(class=info.icon)
            span.ms-2=info.text
      .col-md-6
        h5.text-white SUBSCRIBE TO OUR NEWSLETTER
        .form-floating.mb-6.position-relative.text-200
          input.form-control.bg-transparent.border-0.rounded-0.border.border-bottom.border-400.form-control#floatingEmail(type='email' placeholder='name@example.com')
          label.text-400(for='floatingEmail') Email
          .position-absolute.end-0.top-50
            img(src=`${CWD}assets/img/icons/long-arrow.png` alt="arrow icon").ms-3
        .col.d-flex.flex-wrap.justify-content-between.align-items-center
          each social in socials
            a.social-icons(href=social.link target='_blank')=social.text
